{% extends 'base.html' %}

{% block content %}
    <h1 class="pt-5">Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">R$ {{ product.price }}</p>
                        <p class="card-text">{{ product.stock }} unidade(s) em estoque</p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}